<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link href="/main.css" rel="stylesheet" type="text/css">
  <title>Tires 4 sale</title>
</head>
<body>
  <header id="header">
    <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
     <img id="header-img" src="https://zutvqq.bn.files.1drv.com/y4mGserJafIFVP6WxUZU60J2rH6-OZ5Qla_4iSKUv6ZJnE-4tDnhvRhKd5td0uW4iGETHOggWL7x0EgzHJQsuN6ZI84U4DBqKQzeOEUatr7QYxTyu1pad4aaR_tBVUT4tHDIOzSKbenjtxxea8mc8Q1lAyM5ZvGkPzHzcZJ-89pAvwMgR6u_Wc9HpNdlJzuVmsur2LwNsK68qc73pQASdFFCg?width=358&height=275&cropmode=none" width="50" height="40">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#about">About<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#service">Services</a>
          <a class="nav-item nav-link" href="#pricing">Pricing</a>
        </div>
      </div>
    </nav>
 </header>
 <h3>About</h3>
 <hr>
<div id="about" class="section">
  <p>We are a California based company. We have been opened for over 200 years. We specialize in tires and wheels. You need it we can provide it.</p>
</div>
<hr>
<h3>Services</h3>
<hr>
<h3>Here is a video from Continatal about the new counter tires</h3>
<div id="service" class="section">

  <div id="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/QJhF8hhxPfo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
<hr>
<h3>Pricing</h3>
<hr>
<div id="pricing" class="section"></div>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js"></script>
</html>
