<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link href="/main.css" rel="stylesheet" type="text/css">
  <title>Tires 4 sale</title>
</head>
<body>
  <header id="header">
 <img id="header-img" src="https://zutvqq.bn.files.1drv.com/y4mGserJafIFVP6WxUZU60J2rH6-OZ5Qla_4iSKUv6ZJnE-4tDnhvRhKd5td0uW4iGETHOggWL7x0EgzHJQsuN6ZI84U4DBqKQzeOEUatr7QYxTyu1pad4aaR_tBVUT4tHDIOzSKbenjtxxea8mc8Q1lAyM5ZvGkPzHzcZJ-89pAvwMgR6u_Wc9HpNdlJzuVmsur2LwNsK68qc73pQASdFFCg?width=358&height=275&cropmode=none" width="50" height="40">

 </header>
  <h1>hello world</h1>

</body>

<script src="https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js"></script>
</html>
