body {
  background-color: #d5dce8;
}

img {
  margin-left: 40px;
}

.section {
  height: 500px;
}

h3 {
  text-align: center;
}

#nav-bar {
  position: fixed;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-height: 300px) {
  .section {
    height: 300px;
  }
}